<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Infinity</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body id="homepage">
  <nav>
    <a href="/login"><img id="logo" src="/assets/img/logo.png" alt="face logo" />
      <div id="logoName">Infinity</div>
    </a>
    <div id="homepageNav" class="navlink"><a id="join" href="/">Join & Discover</a></div>
    {{!-- <div class="navlink"><a href="/storefront">Storefront</a></div> public store --}}
  </nav>

  <div>
    <section id="content"></section>
    {{!-- <div id="forgotPass">
      <a id="changePassword" href="/changePassword">forgot password?</a>
    </div> --}}
    <div id="signupCont">
    </div>
    {{!-- <div id="errorMessage"><h4></h4></div> --}}
  </div>

  <div id="errorCont">
    <p id="errorMessage"> </p>
  </div>

  <script src="/assets/loginBundle.js"></script>
</body>

</html>