<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Storefront</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans|Open+Sans+Condensed:300" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    {{!-- <a href="/userAccount"><img id="logo" src="/assets/img/logo.png" alt="logo"/></a> --}}
    <div id="logoName"> &#8734 INFINITY</div>
    <div class="accountDropdown navlink">
      <button class="acctDropBtn">Account</button>
      <div class="dropdownContent">
        <a id="userAccButton" href="/userAccount">Your Account</a>{{!-- user's private account --}}
        <a id="ordersButton" href="/orderHistory">Orders</a>
        <a href="/logout">Log out</a>
      </div>
    </div>
    <div class="navlink" id="spiralsStorefront"></div> {{!-- links to page where user can get more SP (money) --}}
    <div class="navlink"><a href="/storefront">Storefront</a></div> {{!-- public store --}}
  </nav>
  <section id="saleCont">
  </section>
  <section id="allProducts">
  </section>
  <script src="/assets/bundle.js"></script>
</body>
</html>